body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(bg.png);
  background-size: cover;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

h1{
  color: goldenrod;
}
button{
  margin: 0;
}

#message-el{
  font-style: italic;
}
#start-game-button, #new-card-button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  border: none;
  color: #016f32;
  width: 240px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: goldenrod;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}